<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <style>
    .remove { 
      cursor: pointer; 
    }
  </style>
  <script src="/js/d3.js"></script>
  <script src="/js/topojson.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/backbone.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={googlemapskey}&sensor=false"></script>
</head>

<body>
  <div id="globe"></div>

  <div id="backbone">
    <table>
      <tbody>
        <tr>
          <td>
            <label for="name">Name</label>
          </td>
          <td>
            <input type="text" id="name" >
          </td>
        </tr>
        <tr>
          <td>
            <label for="latitude">Latitude</label>
          </td>
          <td>
            <input type="text" id="latitude" >
          </td>
        </tr>
        <tr>
          <td>
            <label for="longitude">Longitude</label>
          </td>
          <td>
            <input type="text" id="longitude" >
          </td>
        </tr>
      </tbody>
    </table>  
    <br />
    <button id="add">Add Point</button>

    <table id="points-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>&nbsp;</th> <!-- 'Remove' button -->
        </tr>
      </thead>
      <tbody></tbody>
    <table>
  </div>

  <script>

    var geocoder = new google.maps.Geocoder()

    var points = new Backbone.Collection([
      {
        'name': "Rochester, MI", 
        'latitude': 42.680556, 
        'longitude': -83.133889
      },
      {
        'name': "Reno, NV", 
        'latitude': 39.527222, 
        'longitude': -119.821944
      },
      {
        'name': 
        "Anchorage, AK", 
        'latitude': 61.218056, 
        'longitude': -149.8925
      },
    ]);

    var PointsView = Backbone.View.extend({
      tagName: 'tr',
      events: {
        'click .remove': 'removePoint',
      },

      removePoint: function() {
        points.remove(this.model);
      },

      render: function() {
        var point_table_template = '<td><%= name %></td><td><%= latitude %></td><td><%= longitude %></td><td class="remove">remove</td>';
        this.$el.html(_.template(point_table_template, this.model.toJSON()));
        return this;
      }
    });

    var AppView = Backbone.View.extend({
      el: '#backbone',

      events: {
        'click #add': 'addPoint',
      },

      initialize: function() {
        points.bind('all', this.render, this);
        this.render();
      },

      addPoint: function() {
        var name = $('#name').val();
        var latitude = $('#latitude').val();
        var longitude = $('#longitude').val();

        if (latitude == "" || longitude == "") {
          console.log('lookup');

          geocoder.geocode( {'address': name}, function( results, status ){
            if (status == google.maps.GeocoderStatus.OK) {
              l = results[0].geometry.location;

              points.add({
                'name': name,
                'latitude': l['lb'],
                'longitude': l['mb']
              });
            }
          });

        } else {

          points.add({
            'name': name,
            'latitude': latitude,
            'longitude': longitude
          });

        }
      },

      renderPoints: function(point) {
        var points_view = new PointsView({ model: point });
        this.$('#points-table').append(points_view.render().el);

      },

      render: function() {
        this.$('#points-table tbody').empty();

        points.each(this.renderPoints, this);

      }
    });

    var app = new AppView();





    /************* Draw Globe Stuff *************/

    var svg = d3.select('#globe').append('svg')
      .attr({
        'width': 800,
        'height': 700
      });

    var w;
    var pos = 50;

    var projection = d3.geo.orthographic()
      .scale(300)
      .translate([300, 350])
      .clipAngle(90)
      .rotate([ pos, -10 ]);

    var geopath = d3.geo.path()
      .projection(projection);


    function drawBackground() {
      svg.append('path')
      .datum({type: 'Sphere'})
      .attr({
        'class': 'background',
        'd': geopath,
        'fill': '#A4BAC7'
      });
    }

    function drawGlobe(world) {
      svg.selectAll('path')
        .data(world.geometries)
        .enter()
        .append('path')
        .attr({
          d: geopath,
          fill: '#617E2C',
          stroke: '#000000'
        });
    }

    function drawPoints(points) {
      geoPoints = [];
      points.each(function(point) {
        var geoPoint = d3.geo.circle().angle([0.7]).origin([
                point.get('longitude'), 
                point.get('latitude')
              ])();
        geoPoints.push(geoPoint);
      });

      svg.selectAll('path')
      .data(geoPoints)
      .enter()
      .append('path')
      .attr({
        d: geopath,
        'class': 'point',
        fill: '#C93030',
      });

      var ps = $('.point');
      $('svg').append(ps);

    }

    function rotateGlobe() {
      svg.selectAll('path')
        .remove()

      if (pos > 360 ) {
        pos = 0;
      }

      pos = pos + 0.4;  
      projection = projection.rotate([ pos, -10 ])
      geopath = d3.geo.path()
        .projection(projection)

      drawPoints(points);
      drawBackground();
      drawGlobe(w);
      drawPoints(points);

    }

    d3.json("/js/world.json", function(world) {
      w = topojson.object(world, world.objects.world);
      setInterval(rotateGlobe, 42);
      // rotateGlobe();
    });

  </script>
</body>
</html>
